<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head(title='Home')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h1>Topics</h1>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Items</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="topic : ${topics}">
            <td th:text="${topic.name}">Name</td>
            <td th:text="${topic.description}">Description</td>
            <td>
                <a th:href="@{/items/{id}(id=${topic.id})}" class="btn btn-primary">
                    <i class="fas fa-list"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
