<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head(title='Items')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h2>Name: </h2>
    <h3 th:text="${topic.name}"></h3><br>
    <h2>Description: </h2>
    <h3 th:text="${topic.description}"></h3>

    <!-- Button to open the form -->
    <button class="btn btn-success mb-3" onclick="toggleForm()">Create New Item</button>

    <!-- Form to create a new item -->
    <div id="createItemForm" style="display: none;">
        <form th:action="@{/item/create/{topicId}(topicId=${topicId})}" method="post">
            <div class="form-group">
                <label for="text">Item Text</label>
                <input type="text" class="form-control" id="text" name="text" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <table class="table table-striped mt-3">
        <thead class="thead-dark">
        <tr>
            <th>Text</th>
            <th>Next Will Be Sent</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.text}">Name</td>
            <td th:text="${item.nextAt}">Description</td>
            <td>
                <a th:href="@{/item/edit/{id}(id=${item.id})}" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <a th:href="@{/item/delete/{id}(id=${item.id})}" class="btn btn-primary">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function toggleForm() {
        var form = document.getElementById("createItemForm");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>
</body>
</html>
