<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title='Home')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h2>Sign Up</h2>
    <form th:action="@{/signup}" method="post">
        <input type="hidden" id="timezoneInput" name="timezoneInput">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <p>Already have an account? <a th:href="@{/login}">Login</a></p>
</div>
<script th:inline="javascript">
    try {
        var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        document.getElementById("timezoneInput").value = timezone;
    } catch (error) {
        console.error("Error retrieving timezone: " + error);
    }
</script>
</body>
</html>
